requests==2.32.3
gevent==24.11.1
djangoql==0.18.1
django-debug-toolbar==5.1.0
django-debug-toolbar-force==0.2
django-cors-headers==4.7.0
Django==5.2
simplejson==3.20.1
djangorestframework==3.16.0
pycryptodome==3.22.0
PyJWT==2.10.1
flake8==7.2.0
gunicorn==23.0.0
python-dotenv==1.1.0
google-auth==2.38.0